<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h3>Form Input</h3>
    <form
      method="post"
      action="/dashboard/action"
    >
      <label for="name">Nama</label>
      <input
        type="text"
        name="name"
        placeholder="Touring ke jawa tengah"
      />
      <br />
      <label for="price">Harga</label>
      <input
        type="text"
        name="price"
        placeholder="Touring ke jawa tengah"
      />
      <br />
      <a href="/dashboard/create">
        <button type="submit">Tambah</button>
      </a>
    </form>
  </body>
</html>
